* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
input,
button {
  font-family: "Nunito", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: #222222;
}

h1,
h2,
h3,
button {
  font-weight: 700;
}

h2 {
  margin-bottom: 2rem;
}

li {
  list-style: none;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0 3rem;
  }
}

/* BUTTONS */
button,
.add-new-theme-link {
  min-width: 120px;
  appearance: none;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  transition: opacity 0.2s;
}

button:hover {
  opacity: 0.85;
}

button:active {
  opacity: 1;
}

/* HEADER */
header {
  margin-bottom: 3rem;
  padding: 1rem 0;
  color: white;
}

header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .add-new-theme-link {
  color: white;
  text-decoration: none;
}

header #social-lins ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* THEMES CONTAINER */
.themes-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width: 1024px) {
  .themes-container {
    flex-direction: row;
  }
}

/* NEW THEME FORM */
@media screen and (min-width: 1024px) {
  .form-container {
    min-width: 220px;
    padding-right: 2rem;
    border-right: solid 1px #cbcbcb;
  }
}

#new-theme-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#new-theme-form label,
#new-theme-form #theme-name-input {
  font-size: 1.125rem;
}

#theme-name-input {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

#new-theme-form #filter-theme-input {
  display: block;
  min-width: 100%;
}

#new-theme-form .form-control {
  display: flex;
  align-items: center;
}

#new-theme-form .form-control input,
#new-theme-form label {
  border: none;
  cursor: pointer;
}

#new-theme-form .form-control input {
  height: 2.5rem;
  transition: opacity 0.2s;
}

#new-theme-form .form-control input:hover {
  opacity: 0.9;
}

#new-theme-form label {
  display: inline-block;
  flex: 1;
}

#new-theme-form #new-theme-form-button,
#new-theme-form #reset-form-button {
  width: 100%;
}

#reset-form-button {
  color: #717171;
}

/* FILTER THEMES */
#filter-themes-form {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

#filter-theme-input {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  flex: 1;
}

#reset-filter-form-button {
  color: #717171;
}

/* THEME LIST */
.list-container {
  flex: 1;
}

#theme-list {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  #theme-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  #theme-list {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 2rem;
  }
}

#theme-list > li {
  flex: 1;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

#theme-list > li .colorSquare {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}

#theme-list > li .colorSquare + .colorSquare {
  margin-left: 1rem;
}
