* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
input,
button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: #222222;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

li {
  list-style: none;
}

button {
  appearance: none;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  transition: opacity 0.2s;
}

button:hover {
  opacity: 0.95;
}

button:active {
  opacity: 1;
}

header {
  margin-bottom: 3rem;
  padding: 1rem 0;
  color: white;
}

h2 {
  margin-bottom: 1rem;
}

#theme-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#theme-list > li {
  flex: 1;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

#new-theme-form {
  max-width: 12rem;
  margin-bottom: 3rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

#new-theme-form .form-control {
  width: 100%;
}

#new-theme-form .form-control.color {
  display: flex;
  align-items: center;
}

#new-theme-form .form-control.color input,
#new-theme-form label {
  border: none;
  cursor: pointer;
}

#new-theme-form .form-control.color input {
  height: 2.5rem;
  transition: opacity 0.2s;
}

#new-theme-form .form-control.color input:hover {
  opacity: 0.9;
}

#new-theme-form label {
  display: inline-block;
  flex: 1;
}

#new-theme-form #theme-name-input {
  margin-top: 0.5rem;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

#new-theme-form #theme-name-input {
  display: block;
  width: 100%;
}

#new-theme-form #new-theme-form-button {
  width: 100%;
}

.colorSquare {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
}

.colorSquare + .colorSquare {
  margin-left: 1rem;
}
